nav{
    width: 296px;
    min-height: 100vh;
    height: auto;
    position: fixed;
}

.nav-link{
    &:hover{
        color: $success;
    }
    &.active::before{
        content: "";
        position: absolute;
        left: 0;
        width: 4px;
        height: 32px;
        border-left: 4px solid $success;
    }
}