<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body class="d-flex">
    <nav class="navbar d-flex flex-column justify-content-start align-items-start bg-light">
      <a class="navbar-brand" href="#">
        <img src="./assets/images/logo-ANSWER.svg" alt="ANSWER" width="151" height="40">
      </a>
      <ul class="navbar-nav pt-32">
        <li class="nav-item">
          <a class="nav-link d-flex justify-content-start align-items-center" href="./index.html">
            <span class="material-icons pr-16">
              assessment
            </span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex justify-content-start align-items-center" href="./index.html">
            <span class="material-icons pr-16">
              question_answer
            </span>
            Question
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex justify-content-start align-items-center<% if (current === 'Assignment') {%> link-success active<%} %>" aria-current="page" href="./index.html">
            <span class="material-icons pr-16">
              assignment
            </span>
            Assignment
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex justify-content-start align-items-center" href="./index.html">
            <span class="material-icons pr-16">
              video_library
            </span>
            Course
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex justify-content-start align-items-center<% if (current === 'Admin') {%> link-success active<%} %>" href="./admin.html">
            <span class="material-icons pr-16">
              supervisor_account
            </span>
            Admin
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex justify-content-start align-items-center" href="./index.html">
            <span class="material-icons pr-16">
              settings
            </span>
            Settings
          </a>
        </li>
      </ul>
    </nav>

    <main>
      <%- contents %>
    </main>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>